<section class="pb-8 pt-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Dernieres Collections
            </h2>

            <!-- Text -->
            <p class="mb-5 text-muted">
              details de la consoles
            </p>

          </div>
        </div>
         <!-- / .row -->
        <div class="row">
          {% for produit in produits %}
            <div class="col-12">

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6 lift lift-lg" data-aos="fade-right">
                <div class="row gx-0">
                <a class="col-12 col-md-6 bg-cover card-img-start"style="background-image: url({{ vich_uploader_asset(produit,'imageFile') }});" href="{{ path('collections_details', {'slug': produit.slug}) }}">
                <img src="{{ vich_uploader_asset(produit, 'imageFile') }}" alt="..." class="img-fluid d-md-none invisible">
              

              <!-- Shape -->
              
                <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg> 
                </div>
              </div>
              </a>
              <div class="col-12 col-md-6">

              <!-- Body -->
              <a class="card-body" href="{{ path('collections_details', {'slug': produit.slug})}}">

                <!-- Heading -->
                <h3>
                  {{ produit.nom }}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ produit.description|u.truncate(200, '...', false) }}
                </p>

              </a>

              <!-- Meta -->
              <a class="card-meta">

                <!-- Divider -->
                <hr class="card-meta-divider">


                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2021-11-24">Publiée le {{ produit.createdAt|date('d/m/Y') }}</time>
                </p>
              </a>
           
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>